.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page p {
  font-size: 66px;
}

/*-- github corner --*/
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

  0%,
  100% {
      transform: rotate(0)
  }

  20%,
  60% {
      transform: rotate(-25deg)
  }

  40%,
  80% {
      transform: rotate(10deg)
  }
}
@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}
#editorExplain, #viewerExplain{
    display: none;
}
#title{
    font-size: 50px;
}
#text{
    font-size: 25px;
}

.page1{    
    background-image: linear-gradient(to top, lightgreen, rgb(71,200,99));
}
.page2{
    background-image: linear-gradient(to bottom, lightgreen,rgb(71,200,99));
}

.btn-started{
    width: 200px;
    height: 100px;
    font-size: 50px;
}
#btMarker{
    display: none;
}




#anim{
  max-width: 800px;
  height: 400px;
  margin: auto;
}