<!DOCTYPE html>
<html lang="en">
	<head>
		<title>three.js webvr - cubes</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<!-- Origin Trial Token, feature = WebXR Device API (For Chrome M69+), origin = https://threejs.org, expires = 2019-03-06 -->
		<meta http-equiv="origin-trial" data-feature="WebXR Device API (For Chrome M69+)" data-expires="2019-03-06" content="AvDjbxYpoTgOL1PS0JEra7KFCehfTlKnXpU/ORSwNdCQ35cX70cTUkXOnQ26A5XJi3eXHSKpBPchdt5lbcxDuAIAAABTeyJvcmlnaW4iOiJodHRwczovL3RocmVlanMub3JnOjQ0MyIsImZlYXR1cmUiOiJXZWJYUkRldmljZU02OSIsImV4cGlyeSI6MTU1MTgzMDM5OX0=">
		<style>
			body {
				font-family: Monospace;
				background-color: #101010;
				color: #fff;
				margin: 0px;
				overflow: hidden;
			}
			a {
				color: #f00;
			}
		</style>
	</head>
	<body>

        <input type="file" id="selectedFileMobile" style="display: none;" onchange="onChooseFile(event, onModelLoadViewer.bind(this))" />
        <button id="bt1" type="button" class="btn btn-secondary  btn-lg" onclick="document.getElementById('selectedFileMobile').click();">Load</button>
        
        <div id="renderDiv"></div>

		<script src="../libs/three/three.js"></script>
        <script src="../libs/three/WebVR.js"></script>
        <script src="../libs/three/boxLineGeometry.js"></script>
        <script src="../libs/three/Orbit.js"></script>
        <script src="../libs/three/pathFollower.js"></script>
        <script src="../libs/three/geoFile.js"></script>
        <script src="../libs/misc/webvr-polyfill.js"></script>
        <script src="viewerVR.js"></script>
	</body>
</html>